.header {
    background-color: var(--backgroundcolor);
}

.header__container {
    display: flex;
    flex-direction: column !important;
}

.header-title {
    color: var(--backgroundcolor-secondary);
}

.header-title__icon {
    color: var(--maincolor);
    font-size: 2rem;
}